img{
   height: 50px;
   width: 100px;
}
body {
   height: 100vh;
   margin: 0;
   background: linear-gradient(to right, #48152c, #ec776e, #ed5983, #f25966, #f7b252);
}
section{
   background: linear-gradient(to right, #48152c, #ec776e, #ed5983, #f25966, #f7b252);
}