img{
   height: 50px;
   width: 100px;
}
body {
   height: 100vh;
   margin: 0;
}
section{
   background-color:  #48152c;
}

main,.jumbotron{
   background-color: #48152c !important;
   
}

.jumbotron{
   color: white;
}