img{
   height: 50px;
 
}
body {
   height: 100vh;
   margin: 0;
   background-color: black;
}
section{
   background-color:  #48152c;
}

main,.jumbotron{
   background-color: #48152c !important;
   
}

.jumbotron{
   color: white;
}

nav.navbar.navbar-expand-lg.bg-dark {
   background-color:#742445 !important;
}

footer {
   opacity: 0.3;
}

.card {
    min-width: 415px;
}

.album {
    margin-top: 0px;
    padding-top: 0px !important;
}